@import url("http://fonts.googleapis.com/css?family=Roboto");
main {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  main time {
    display: block;
    width: 310px;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    text-align: center; }
  main button {
    padding: .5em 1.25em;
    position: absolute;
    bottom: 0;
    color: white;
    border: 1px solid white;
    border-radius: .5em;
    text-transform: uppercase;
    font-size: 1.25rem; }
  main .stopwatch-toggle {
    right: 0; }
  main .stopwatch-clear {
    transition: all 300ms cubic-bezier(0.4, 0.25, 0.3, 1);
    left: 0;
    opacity: 0;
    pointer-events: none; }
    main .stopwatch-clear[data-state='visible'] {
      opacity: 1;
      pointer-events: auto; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  flex-wrap: wrap; }

.form-group,
.time-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.time-container input:focus {
  outline: 0 !important; }

#second-left,
#second-right,
#free-left,
#free-right {
  font-size: 6em;
  padding-top: 15px; }

nav.top-bar {
  color: white;
  height: 120px;
  font-size: 36px; }
  nav.top-bar .row .columns {
    padding: 0 50px; }
    nav.top-bar .row .columns .debate-topic {
      font-size: 30px;
      height: 57px; }

.tabs-content {
  margin-bottom: 0; }
  .tabs-content .content .row .columns {
    background-image: radial-gradient(at top, #63c2f8, #008baa);
    min-height: 400px; }
  .tabs-content H3.text-white.text-shadow {
    padding-top: 25px; }
  .tabs-content #panel4 .row .columns {
    padding-top: 80px; }

#tab-nav {
  bottom: 0;
  margin: 0 auto;
  padding-bottom: 70px;
  text-align: center; }
  #tab-nav .table {
    display: table;
    margin: 0 auto; }
  #tab-nav ul {
    text-align: center;
    list-style: none; }
    #tab-nav ul li {
      display: inline-block;
      float: none; }

.text-center {
  text-align: center; }

.block-center {
  margin-left: auto;
  margin-right: auto; }

.text-white {
  color: white; }

.text-shadow {
  text-shadow: #1a1a1a 1px 1px 10px; }

footer.panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 15px; }
