@import "stopwatch.scss";
@import "chessclock.scss";

nav.top-bar {
  .row .columns {
    padding: 0 50px;
    .debate-topic {
      font-size: 30px;
      height: 57px;
    }
  }
  color: white;
  height: 120px;
  font-size: 36px;
}

.tabs-content {
  //min-height: 450px;

  margin-bottom: 0;
  .content .row .columns {
    background-image: radial-gradient(at top, #63c2f8, #008baa);
    min-height: 400px;
  }
  H3.text-white.text-shadow{
    padding-top: 25px;
  }
  #panel4 .row .columns {
    padding-top: 80px;
  }
}

#tab-nav {
  // position: fixed;
  bottom: 0;
  margin: 0 auto;
  padding-bottom: 70px;
  text-align: center;
  // width: 100%;
  .table {
    display: table;
    margin: 0 auto;
  }
  ul {
    text-align: center;
    list-style: none;
    li {
      display: inline-block;
      float: none;
    }
  }

}

.text-center {
  text-align: center;
}
.block-center {
  margin-left: auto;
  margin-right: auto;
}

.text-white {
  color: white;
}
.text-shadow {
  text-shadow: #1a1a1a 1px 1px 10px;
}

.flex-container {
  margin-top: 20px;
}
.stopwatch-second {
  margin-top: 110px;
}

footer.panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 15px;
}