.flex-container
    #free-left.time-container
        input.toggle.btn.btn-lg.btn-primary.btn-block(type='button', value='正方')
        span.time
    #free-controls.time-container
        .form-group
            input#free-time-input.form-control(type='number', placeholder='Minutes', min='1', value='20')
            input#free-pause.form-control.btn.btn-block.btn-default(type='button', value='Pause')
            input#free-reset.btn.btn-block.btn-danger(type='button', value='Reset')

    #free-right.time-container
        input.toggle.btn.btn-lg.btn-primary(type='button', value='反方')
        span.time