main.stopwatch-third-conclude
  time.stopwatch-timer#stopwatch-third-conclude-timer 00:00.00
  button.stopwatch-toggle#stopwatch-third-conclude-toggle start
  button.stopwatch-clear#stopwatch-third-conclude-clear clear
