doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title 华语辩论计时系统 -- by CCDD
    link(href='css/foundation.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(rel='stylesheet', href='css/flat-ui.css')
    script(src='js/vendor/modernizr.js')
    script(src='js/vendor/moment.js')
  body
    nav.top-bar
      .row
        .medium-6.columns
          .text-white.right
            | 正方
          br
          #topic-pro.debate-topic.right.button.round
            | 以暴制暴是正义
        .medium-6.columns
          | 反方

          br
          #topic-con.debate-topic.left.button.round
            | 以暴制暴不是正义

    .tabs-content
      #panel1.content.active
        .row.text-center
          h3 陈词环节双方各4分钟; 回答质询时间1分30秒
        .row
          .small-6.columns.clearfix
            .row.text-center
              H3.text-white.text-shadow 一辩陈词
            .stopwatch
              include jade/stopwatch_first
          .small-6.columns.clearfix
            .row.text-center
              H3.text-white.text-shadow 四辩质询
            .stopwatch
              include jade/stopwatch_first_ask
      #panel2.content
        .row.text-center
          h3 对辩环节双方各2分30秒; 小结环节双方各2分钟
        .row
          .small-12.columns
            include jade/second_timer

        .row.stopwatch
          include jade/stopwatch_second
      #panel3.content
        .row.text-center
          h3.text-center 质询环节双方各2分30秒, 总结
        .row
          .small-6.columns.clearfix
            .row.text-center
              H3.text-white.text-shadow 质询
            .stopwatch
              include jade/stopwatch_third_ask
          .small-6.columns.clearfix
            .row.text-center
              H3.text-white.text-shadow 总结
            .stopwatch
              include jade/stopwatch_third_conclude
      #panel4.content
        .row.text-center
          h3 讨论时间: 2分钟
        .row
          .small-12.columns
            include jade/stopwatch_discuss
      #panel5.content
        .row.text-center
          h3 自由辩论环节,双方各4分钟
        .row
          .small-12.columns
            include jade/free_timer
      #panel6.content
        .row.text-center
          h3 四辩总结环节,双方各4分钟
        .row
          .small-12.columns.clearfix
            #final_left.stopwatch
              include jade/stopwatch_final
    #tab-nav
      ul.tabs(data-tab='')
        li.tab-title.active
          a(href='#panel1') 一辩陈词
        li.tab-title
          a(href='#panel2') 二辩对辩
        li.tab-title
          a(href='#panel3') 三辩质询
        li.tab-title
          a(href='#panel4') 讨论时间
        li.tab-title
          a(href='#panel5') 自由辩论
        li.tab-title
          a(href='#panel6') 四辩结辩

footer.clearfix.panel
  .text-white.row
    | Program by taotao @ CCDD
    #change-topic-button.right.secondary.tiny
      | 表演赛>>>


script(src='js/variables.js')
script(src='js/vendor/jquery.js')
script(src='js/foundation.min.js')

script(src='js/secondDebate.js')
script(src='js/freeDebate.js')

script(src='js/stopwatch_first.js')
script(src='js/stopwatch_first_ask.js')
script(src='js/stopwatch_second.js')
script(src='js/stopwatch_third_ask.js')
script(src='js/stopwatch_third_conclude.js')
script(src='js/stopwatch_discuss.js')
script(src='js/stopwatch_final.js')

script(src='js/script.js')


script.
  $(document).foundation();
  $("#change-topic-button").click(function(){
    $("#topic-pro").html("长生不老是好事");
    $("#topic-con").html("长生不老不是好事");
  })
